{% extends 'base.html' %}

{% block content %}

<div class="relative bg-gradient-to-b from-zinc-900 via-zinc-950 to-black">


    <div
        x-data
        x-bind:class="{'-translate-y-full' : $store.portfolio.scrollEnd}"
        class="sticky top-0 z-50 w-full transition-all duration-300 bg-black"
    >
        {% include 'components/header_section.html' %}
    </div>

    {% include 'components/mobile_dropdown.html' %}
    
    <div class="bg-black">
        <div class="container mx-auto">
            {% include 'components/hero_section.html' %}
        </div>
    </div>
    
       
    
    
    <div class="bg-zinc-900 min-h-screen">
        {% include 'components/about_section.html' %}
    </div>

    <div class="bg-black">
        {% include 'components/experience_section.html' %}
    </div>
    
    <div class="bg-zinc-900">
        {% include 'components/portfolio_section.html' %}
    </div>

    <div class="bg-black min-h-screen">
        {% include 'components/learning_section.html' %}
    </div>
    
    <div class="bg-zinc-900">
        {% include 'components/contact_section.html' %}
    </div>

    <div class="py-10">
        {% include 'components/footer_section.html' %}
    </div>

    {% include 'components/floating_button.html' %}


    
   
    
    

</div>


{% endblock %}