{% extends 'base.html' %}

{% block content %}

<div class="relative bg-zinc-900">


    <div
        x-data
        x-bind:class="{'-translate-y-full' : $store.portfolio.scrollEnd}"
        class="sticky top-0 z-50 w-full transition-all duration-300 bg-black"
    >
        {% include 'components/header_section.html' %}
    </div>

    {% include 'components/mobile_dropdown.html' %}
    
    <div class="bg-black">
        <div class="container mx-auto">
            {% include 'components/hero_section.html' %}
        </div>
    </div>
    
       
    
    
    <div class="bg-zinc-900">
        {% include 'components/about_section.html' %}
    </div>
   
    <div class="bg-black">
        {% include 'components/portfolio_section.html' %}
    </div>
    
    <div class="bg-zinc-900">
        {% include 'components/contact_section.html' %}
    </div>

    <div class="mt-28">
        {% include 'components/footer_section.html' %}
    </div>

    {% include 'components/floating_button.html' %}


    
   
    
    

</div>


{% endblock %}